@import "vars.scss";

// Cards
.panel{

  .panel-body.overflow{
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .media{
    width: 100%;
    height: 240px;
    background-size: 100%;
    background-position: center center;
  }
  .panel-footer{
    background-color: white;
    border-color: transparent !important;
    img{
      margin: auto 2px;
    }
  }
  blockquote{
    font-size: 1em;
    border-color: #ddd;
    background-color: #eee;
  }
}
.panel-primary{
  .panel-heading{
    background-color: transparentize($indigo,0.9);
    border: $red;
    color: #333;
  }
}
