@import "vars.scss";
.black{
  background: #222;
}
.red{
  background-color: $red;
}

.indigo{
  background-color: $indigo;
}

.purple{
  background-color: $purple;
}

.carrot{
  background-color: $carrot;
}


.overflow-hidden{
  overflow: hidden;
}
