@import "vars.scss";
.white{
  background: #fff;
}
.black{
  background: $black;
}
.red{
  background-color: $red;
}

.indigo{
  background-color: $indigo;
}

.purple{
  background-color: $purple;
}

.carrot{
  background-color: $carrot;
}


.white-text{
  color: white;
}

.overflow-hidden{
  overflow: hidden;
}
