@import "vars.scss";
@import "cards.scss";
@import "ft-navbar.scss";
@import "helpers.scss";
@import "icons.scss";



$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Font Familiy
$droid-font-path: "fonts/DroidSansEthiopic-Regular.ttf";
$droid-bold-font-path: "fonts/DroidSansEthiopic-Bold.ttf";
$army-3d-font-path: "fonts/ArmyRangers3d.ttf";


@font-face {
  font-family: "DroidSansEthiopic Regular";
  src: url($droid-font-path);
}

@font-face {
  font-family: "DroidSansEthiopic Bold";
  src: url($droid-bold-font-path);
}

@font-face {
  font-family: "ArmyRangers 3d";
  src: url($army-3d-font-path);
}

// Font Family Helpers
.army-3d{
  font-family: "ArmyRangers 3d";
}

.droid-regular{
  font-family: "DroidSansEthiopic Regular";
}

.droid-bold{
  font-family: "DroidSansEthiopic Bold";
  font-weight: bold;
}

// vars
$red-darken: darken(red,30);

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,html {
  font-family: 'Droid Sans', sans-serif;
  background-color: #efefef;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.master{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  .left{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: $leftbar;
    color: #aaa;
    height: inherit;
    z-index: 20;
    .logo-icon{
      margin-top: 5rem;
      max-width: 125px;
      display: inline;
    }
    .logo-text{
      font-size: 2.4rem;
      margin:0 0 5rem 0;
      > span{
        display: block;
        line-height: 1;
        &:first-child{
          color: lighten($yellow, 15);
          font-size: 3rem;
        }
        &:last-child{
          font-size: 2.8rem;
          margin-left: 2.5rem;
          color:$yellow;
        }
      }
    }
    .nav{
      flex: 1;
      width: 100%;
      margin-left: 5rem;
      li{
        border-left: 1px solid transparentize(white,0.9);
        a{
          color: white;
          &:hover{
            background-color: transparent !important;
          }
        }
        &.active a{
          background-color: transparent !important;
        }

        &.active{
          border-left: 1px solid #fff;
        }
      }
    }
  }
  .right{
    width: 100%;
    margin-left: 210px;
  }
}

.row{
  position: relative;
  margin: 0px;
}
.header{
  margin-bottom:0px;
}

.yield{
  min-height: 640px;
}

iframe{
  max-width: 100%;
  height: auto;
}

time{
  display: block;
  color: transparentize(black, 0.5);
}

.contact-us{
  width: 100%;
  padding: 0 3rem;
}

.footer-pre{
  background: url(../images/foodbg.png) $white;
  background-position: left center;
  width: 100%;
  min-height: 180px;
  color:$black;
  .plataforms-promo{
    margin-top: 5rem;
    .em-breve{
      font-size: 6pt;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: -28px;
      margin-right: 40px;
    }
  }
}

/* Custom page footer */
.footer {
  background-color: #111;
  color: white;
  a{
    color: transparentize($white,0.3);
    &:hover{
      color: transparentize($white,0.1);
    }
  }
}

.footer p{
  padding: 1rem 0;
}

.footer ul{
  margin: 2rem auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Media */
.video-wrap{
  position: relative;
  overflow: hidden;
  margin: auto;
  max-height: 360px;
  background-color: black;
  .col{
    line-height: 1.25;
  }

  blockquote{
    color:white;
    font-size: 3.5rem;
    border:none;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    h2{
      font-size: 6rem;
      color: $yellow;
      text-shadow:1px 1px 12px black;
    }
    footer{
      font-size: 12pt;
      color:#ffecb3;
    }
  }

  .video-hero{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    background: url(../images/galaxy.png);
    background-attachment: scroll;
    background-position: top center;
    background-size: 100% 140%;
    background-repeat: no-repeat;
    -webkit-transition: background-size 5s ease;
    transition: background-size 5s ease;
    h1{
      font-size: 4.5em;
      margin: -0.50em 0 0 0;
    }
    h3{ font-size: 1.4em;}


    &:hover{
      background-size: 110% 110%;
    }
  }

  .stores{
    position:absolute;
    width: 100%;
    bottom:0;
  }

  .video-container{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    img,video{
      position: absolute;
      background-color: black;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


// flex container
.last-posts-wrap{
  position: relative;
  overflow: hidden;
  max-height:480px;
  background-color: black;

  .last-posts-controls{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 100;
  }
  .btn-group{
      margin:15px;
  }
  .last-posts-filter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-shadow: 3px 3px 6px #222;
    &:hover{
      cursor: pointer;
    }
  }
}
.last-posts{
  overflow: inherit;
  max-height:480px;
  margin:0px;
  img.icon{
    min-width: 36px !important;
    max-width: 36px;
    margin:10px auto;
  }
  .col{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    img{
      filter: opacity(0.3);
      background-color: rgba(0,0,0,0.6);
      min-width: 100%;
      border-bottom:2px solid red;
      border-width: 0;
      -webkit-transition: all 0.6s linear;
      transition: all 0.6s linear;
    }
    .content{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color:#999;
      .divider{
        display: block;
        height: 100%;
      }
      .stripe{
        display: block;
        height: 2px;
        width: 0%;
        background-color: opacify(red, 0.3);;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
      }
      .row{
        background-color: rgba(0, 0, 0, 0.7);
        padding:0px 0px 10px 0px;
        h4{
          margin-left: 5px;
          margin-right: 5px;
          color:white;
          small{
            color:white;
          }
        }
      }
      &:hover{
        color:white;
        .stripe{
          background-color: red;
          width: 100%;
        }
        h4{
          small{
            color:white;
          }
        }
      }
    }
    &:hover{
      img{
        filter: opacity(1);
      }
    }
  }

}


// Overide btn
.btn{
  .btn-primary{
    background-color: $red-darken;
  }
}


// Modal Overide
.modal-backdrop.in{
  opacity: 0.9;
}


#treadingTopicsModal{
  .modal{
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.animated{
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
  }
  .modal-dialog{
    width:95% !important;
    height: 100% !important;
    overflow: hidden;
    margin: 0 auto;
    .modal-content{
      background-color: transparent !important;
      box-shadow: none;
      height: 100%;
      overflow: inherit;
      display: flex;
      flex-direction: column;
    }
    .modal-header{
      color:#ddd;
      border:none;
      font-size: 0.6em;
      min-height: 20px;
      .close{
        font-size: 32pt;
        color:white;
        opacity: 0.7;
        top:0;
        left: 0;
        &:hover{
          opacity: 1;
        }
      }
    }
    .modal-body{
      height: 100%;
      overflow: inherit;
      padding: 5px;
      .last-posts{
        background-color: transparent !important;
        height: 800px;
        max-height: 100%;
        overflow: auto;
        img{
          filter: opacity(0.7) blur(0px);
        }
      }
    }
  }
  .modal-footer{
    border-top: none;
    color:white;
    padding: 0px;
  }
  .modal-open .modal{
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.preloader-container{
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 480px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background:$white no-repeat;
  padding-top: 5rem;
  margin-left: 110px;
  z-index: 10;
  img{
    margin: 15px;
  }
}

// Google Maps
.angular-google-map-container { height: 460px; }

// Event Maps
.event-map{
  position: relative;
  .event-map-promo{
    position: absolute;
    top:4.5em;
    left: 0;
    right: 0;
    width: 95%;
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    h2{
      font-size: 48pt;
      margin: auto 2.5em;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    h4{
      color:#fff9c4;
      text-shadow: 2px 2px 1px black;
    }
    .close{
      position: absolute;
      right: 15px;
      top: 15px;
      color:white;
      opacity: 0.7;
    }
  }
}

#events{
  position: relative;
}

#events, #about{
  padding-top: 1em;
}

// Promos
.social-promo{
  .heart{
    font-size: 12em;
    color:#ff8a80;
  }
  background-image: url(../images/social_media.png);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Tablets e Mobiles
@media screen and (min-width:240px) and (max-width:768px) {
  .master{
    /* Custom page header */
    .navbar-small-device {
      // Logo Font
      .navbar-brand{
        padding: 0px;
        line-height: 50px;
        font-size: 80%;
        img{
          display: inline;
        }
      }

      ul{
        margin: 0;
        font-size: 75%;
        a{
          color: white;
        }
        li{
          &.active{
            color:$yellow;
            background-color: black;
            border:0px solid $black;
            border-radius: 0.3rem;
          }
        }
      }

      .navbar-inverse .navbar-brand{
        color:white;
      }
    }

    .right{
      margin-left: 0 !important;
    }
  }

  .video-wrap{
    margin-top: 50px;
    max-height: 240px;
    blockquote{
      color:white;
      font-size: 2.5rem;
    }
  }

  .last-posts-filter h1{
    text-align: center;
  }

  #events,#about{
    margin-top: 50px;
  }

  // Google Maps
  .angular-google-map-container { height: 320px; }
}
