@import "spinner-loader.scss";


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Font Familiy
$droid-font-path: "DroidSansEthiopic-Regular.ttf";
$droid-bold-font-path: "DroidSansEthiopic-Bold.ttf";
$army-3d-font-path: "ArmyRangers3d.ttf";


@font-face {
  font-family: "DroidSansEthiopic Regular";
  src: url($droid-font-path);
}

@font-face {
  font-family: "DroidSansEthiopic Bold";
  src: url($droid-bold-font-path);
}

@font-face {
  font-family: "ArmyRangers 3d";
  src: url($army-3d-font-path);
}

// Font Family Helpers
.army-3d{
  font-family: "ArmyRangers 3d";
}

.droid-regular{
  font-family: "DroidSansEthiopic Regular";
}

.droid-bold{
  font-family: "DroidSansEthiopic Bold";
  font-weight: bold;
}

// vars
$red-darken: darken(red,30);

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Droid Sans', sans-serif;
  padding: 0;
}

iframe{
  max-width: 100%;
  height: auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  // Logo Font
  .navbar-inverse .navbar-brand{
    font-size: 18pt;
    color:white;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Media */
.video-wrap{
  position: relative;
  overflow: hidden;
  margin: auto;
  max-height: 580px;

  .video-hero{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    background: url(../images/stars-texture.png);
    background-attachment: fixed;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size 5s ease;
    transition: background-size 5s ease;
    h1{ font-size: 3em; }
    h3{ font-size: 1.4em;}
    &:hover{
      background-size: 110% 110%;
    }
  }

  .stores{
    position:absolute;
    width: 100%;
    bottom:0;
    img:first-child{ margin-right: -30px; }
  }

  .video-container{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    filter: blur(2px);
    img,video{
      position: absolute;
      background-color: black;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(6px);
    }
  }
}


// flex container
.last-posts-wrap{
  position: relative;
  overflow: hidden;
  max-height:480px;

  .last-posts-controls{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 100;
  }
  .btn-group{
      margin:15px;
  }
  .last-posts-filter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-shadow: 3px 3px 6px #222;
    &:hover{
      cursor: pointer;
    }
  }

  #treadingTopicsModal{
    .modal{
      overflow: hidden;
      &.animated{
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
      }
    }
    .modal-dialog{
      width:95% !important;
      overflow: hidden;
      margin: 0 auto;
      .modal-content{
        background-color: transparent !important;
        box-shadow: none;
        height: 100%;
        overflow: inherit;
        display: flex;
        flex-direction: column;
      }
      .modal-header{
        color:#ddd;
        border:none;
        font-size: 0.6em;
        min-height: 20px;
        .close{
          font-size: 32pt;
          color:white;
          opacity: 0.7;
          top:0;
          left: 0;
          &:hover{
            opacity: 1;
          }
        }
      }
      .modal-body{
        height: 100%;
        overflow: inherit;
        padding: 5px;
        .last-posts{
          background-color: transparent !important;
          height: 800px;
          max-height: 100%;
          overflow: auto;
          img{
            filter: opacity(0.7) blur(0px);
          }
        }
      }
    }
    .modal-footer{
      border-top: none;
      color:white;
      padding: 0px;
    }
    .modal-open .modal{
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}
.last-posts{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
  flex-wrap: nowrap;
  overflow: inherit;
  max-height:480px;
  margin:0px;
  .col{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    img{
      filter: opacity(0.7) blur(3px);
      background-color: rgba(0,0,0,0.6);
      min-width: 100%;
      border-bottom:2px solid red;
      border-width: 0;
      -webkit-transition: all 0.6s linear;
      transition: all 0.6s linear;
    }
    .content{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color:#999;
      .divider{
        display: block;
        height: 100%;
      }
      .stripe{
        display: block;
        height: 2px;
        width: 0%;
        background-color: opacify(red, 0.3);;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
      }
      .row{
        background-color: rgba(0, 0, 0, 0.7);
        padding:0px 0px 10px 0px;
        h4{
          margin-left: 30px;
          margin-right: 30px;
          color:white;
          small{
            color:white;
          }
        }
      }
      &:hover{
        color:white;
        .stripe{
          background-color: red;
          width: 100%;
        }
        h4{
          small{
            color:white;
          }
        }
      }
    }
    &:hover{
      img{
        filter: opacity(1);
      }
    }
  }
}


// Overide btn
.btn{
  .btn-primary{
    background-color: $red-darken;
  }
}


// Modal Overide
.modal-backdrop.in{
  opacity: 0.9;
}
