<div id="about" class="animated fadeIn">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col col-xs-12">
            <h3>Iniciativa Food Troopers</h3>
            <p>
              Nossa galáxia vem sendo palco de uma invasão de food trucks,
              com eventos acontecendo toda semana e em vários locais diferentes ao mesmo tempo.
            </p>
            <p>
              Como devemos proteger o império, e fazer uma boquinha de vez em quando,
              criamos a iniciativa <b>FoodTroopers</b> com o objetivo de monitorar tudo o que está acontecendo por essas bandas da galáxia.
            </p>

            <blockquote>
              Comer bem você irá.
              <footer>
                <cite><b>Mestre Yoda</b></cite>
              </footer>
            </blockquote>
            <blockquote>
              Luke, eu sou sous chef.
              <footer>
                <cite><b>Lord Vader</b></cite>
              </footer>

              <blockquote>
                Nãaaaaaaaaaaaaaaaaaaaaaaaaao.
                <footer>
                  <cite><b>Luke Skywalker</b></cite>
                </footer>
              </blockquote>
            </blockquote>

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-right">
        Troopers Team
      </div>
      <div class="panel-body">
        <div class="row hidden-xs">
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/10330239_732927746800144_4312812703910995426_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/527970_2054872587891_321121945_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/167620_140544326003494_981280_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/10151357_1417750201812497_1288913736_n.jpg" width="125">
          </div>
        </div>
        <div class="row">
          <div class="col col-md-3 col-xs-6 text-center">
            <h4>Damis Garcia</h4>
            <p>Web Developer, Web Designer</p>
          </div>
          <div class="col col-md-3 col-xs-6 text-center">
            <h4 class="text-center">Wedson Lima</h4>
            <p class="text-center">Web Developer, Architect</p>
          </div>
          <div class="col col-md-3 col-xs-6 text-center">
            <h4>Davi Linhares</h4>
            <p>Android Developer</p>
          </div>
          <div class="col col-md-3 col-xs-6 text-center">
            <h4>Tiago Venâncio</h4>
            <p>IOS Developer</p>
          </div>
        </div>
        <hr>
        <h4 class="text-right">
          Colaboradores <br>
          <small>Marlon Lima</small>
        </h4>
        <p class="text-right"></p>
      </div>
    </div>
  </div>
</div>


<!--
  Nossa galáxia vem sendo palco de uma invasão de food trucks, com eventos acontecendo toda semana e em vários locais diferentes ao mesmo tempo.
  Como devemos proteger o império, e fazer uma boquinha de vez em quando, criamos a iniciativa food troopers com o objetivo de monitorar tudo o que está acontecendo por essas bandas da galáxia.
  Comer bem você irá. (Grande sábio mestre Ioda)
  Luke, eu sou sous chef. (Grande sábio mestre Vader)
  Naaaaaaaaaaaaaaaaaaaaaaaaahhhhh. (Grande sábio mestre Luke)  Texto Wedson
-->
