<div class="purple animated slideInDown">
  <div class="container ft-navbar">
    <h1>Sobre</h1>
  </div>
</div>
<div id="about" class="animated fadeIn">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Iniciativa Food Troopers</h2>
        <div class="row">
          <div class="col col-md-6">
            <p>
              Curabitur aliquet quam id dui posuere blandit.
          Vivamus suscipit tortor eget felis porttitor volutpat.
          Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            </p>
          </div>
          <div class="col col-md-6">
            <p>
              Curabitur aliquet quam id dui posuere blandit.
          Vivamus suscipit tortor eget felis porttitor volutpat.
          Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-right">
        Troopers Team
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/10330239_732927746800144_4312812703910995426_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/527970_2054872587891_321121945_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/167620_140544326003494_981280_n.jpg" width="125">
          </div>
          <div class="col col-md-3 text-center">
            <img class="img-circle" src="images/profile_troopers/10151357_1417750201812497_1288913736_n.jpg" width="125">
          </div>
        </div>
        <div class="row">
          <div class="col col-md-3 text-center">
            <h4>Damis Garcia</h4>
            <p>Web Developer, Web Designer</p>
          </div>
          <div class="col col-md-3 text-center">
            <h4 class="text-center">Wedson Lima</h4>
            <p class="text-center">Web Developer, Architect</p>
          </div>
          <div class="col col-md-3 text-center">
            <h4>Davi Linhares</h4>
            <p>Android Developer</p>
          </div>
          <div class="col col-md-3 text-center">
            <h4>Tiago Venâncio</h4>
            <p>IOS Developer</p>
          </div>
        </div>
        <hr>
        <h3 class="text-right">Colaboradores</h3>
        <p class="text-right">Marlon Lima - Designer</p>
      </div>
    </div>
  </div>
</div>
