<div class="row">
  <h4 class="col-xs-12" ng-show="(events | filter:isPassed).length == 0">Próximo Eventos</h4>
  <div class="col-xs-12 bg-inverse" ng-show="(events | filter:!isPassed).length == 0">
    <h5 class="text-center"><i class="ion-android-calendar"></i> Nenhum Evento Previsto</h5>
  </div>
</div>

<div class="row grid">
  <div class="item item-sizer col-md-4 col-sm-6 col-xs-12" ng-repeat="ev in events | filter: !isPassed">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row media" style="background-image:url({{ev.photo}});">
        </div>
        <h4>
          <b>{{ev.name}}</b>
          <br>
          <small> Início {{ev.start_date | date:'shortDate'}} irá terminar {{ev.end_date | date:'shortDate'}}</time> </small>
        </h4>
        <p>{{ev.description}}</p>
        <p>{{ev.address}}</p>
        <p ng-if="ev.schedule">Horário: {{ev.schedule}}</p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col col-xs-12 text-right">
            <img class="img-circle" ng-repeat="truck in ev.trucks | filter: EventIsConfirmed | limitTo: 8" src="{{truck.social_media.instagram.profile_picture}}" title="{{truck.name}}" width="32"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4 class="item col-xs-12">Eventos Passados</h4>
</div>

<div class="grid row">
  <div class="item item-sizer col-md-4 col-sm-6 col-xs-12" ng-repeat="ev in events | filter: isPassed">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row media" style="background-image:url({{ev.photo}});">
        </div>
        <h4>
          <b>{{ev.name}}</b>
          <br>
          <small> Início {{ev.start_date | date:'shortDate'}} irá terminar {{ev.end_date | date:'shortDate'}}</time> </small>
        </h4>
        <p>{{ev.description}}</p>
        <p>{{ev.address}}</p>
        <p ng-if="ev.schedule">Horário: {{ev.schedule}}</p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col col-xs-12 text-right">
            <img class="img-circle" ng-repeat="truck in ev.trucks | filter: EventIsConfirmed | limitTo: 8" src="{{truck.social_media.instagram.profile_picture}}" title="{{truck.name}}" width="32"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
