<div class="animated text-center preloader-container" ng-hide="loaded" ng-class="{fadeOut: loaded}">
  <img src="images/loader-285.gif" width="32"/> <br>
  <p> <small>Aguarde enquanto carregamos o conteúdo.</small> </p>
</div>

<div>
  <div class="video-wrap">
    <div class="video-hero">
      <div class="container">
        <div class="row">
          <blockquote>
            <p>O Melhor <b>Guia de FoodTrucks</b> do Império.</p>
            <footer>Feito por geeks para o público que vivencia a cultura urbana. <cite title="Source Title">Trooper Team</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="row stores">
        <img src="images/app-store-icon.png" class="pull-right" width="200">
        <img src="images/google-play-icon.png" class="pull-right" width="200">
      </div>
    </div>
    <div class="video-container">
      <video width="1380" height="720" autoplay loop="true" muted="true">
        <source src="videos/food_on_wheels_sm_360p_blur.mp4" type="video/mp4">
        <source src="videos/food_on_wheels_sm_360p_blur.webm" type="video/webm">
      </video>
      <!-- <img src="images/food_park_2.jpg" width="100%"/> -->
    </div>
  </div>

  <div class="last-posts-wrap">
    <div class="row last-posts">
      <div class="col col-md-4" ng-repeat="grid in posts.grids">
        <div class="animated fadeIn col col-md-12" ng-repeat="post in grid.objects | limitTo:2" on-finish-render="ngRepeatFinished">
          <img src="{{post.images[2].source}}" class="img-responsive"/>
        </div>
      </div>
    </div>

    <div class="last-posts-filter" ng-click="showTreadingTopicsModal()">
      <h1>Trending Topics Foodtrooper.</h1>
      <p class="text-right">O que é destaque jamais fica esquecido no Cosmos </p>
      <button class="btn btn-large btn-success" ng-click="showTreadingTopicsModal()">
        Clique aqui e veja o que está acontecendo agora na Cidade
      </button>
    </div>
  </div>

  <div class="event-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="map.places" coords="'self'" doCluster="true" icon="'icon'" idKey="'idKey'"></ui-gmap-markers>
    </ui-gmap-google-map>
    <div class="event-map-promo animated" ng-class="{fadeOut:!isMapPromoVisible}" ng-show="isMapPromoVisible">
      <h2 class="text-center">Fortaleza</h2>
      <h4 class="text-center">15 eventos programados, com 60 trucks e mais de 600 opções de pratos.</h4>
    </div>
  </div>

  <div class="container">
    <!-- <div class="jumbotron">
      <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Iniciativa FoodTrupper
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div> -->

    <h2>Iniciativa Food Troopers</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>
          Curabitur aliquet quam id dui posuere blandit.
      Vivamus suscipit tortor eget felis porttitor volutpat.
      Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Curabitur aliquet quam id dui posuere blandit.
      Vivamus suscipit tortor eget felis porttitor volutpat.
      Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
        </p>
      </div>
    </div>

    <h2>Acompanhe Nossas Redes Sociais</h2>
    <hr>
  </div>
  <div class="social-promo">
    <div class="text-center">
      <span class="ion-android-favorite heart"></span>
    </div>

    <div class="social-promo-links">
      <a href="https://instagram.com/foodtroopers" target="_blank">
        <span class="ion-social-instagram-outline"></span>  @foodtroopers
      </a>
      -
      <a href="https://www.facebook.com/kingstandingfoodcommunity">
        <span class="ion-social-facebook-outline"></span>  /foodtroopers
      </a>
    </div>
  </div>
  <div class="contact-us">
    <div class="container">
      <h2>Fale Conosco</h2>
      <hr>
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
         </div>
         <div class="form-group">
         <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
             <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
         </div>
         <button type="button" id="submit" name="submit" class="btn btn-large btn-success">Submit Form</button>
       </form>
       <br>
    </div>
  </div>
</div>

<!-- Thread Topics -->
<div class="modal fade" id="treadingTopicsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Anúcie Grátis seus Eventos</h4>
      </div>
      <div class="modal-body">
        <div class="row last-posts" on-scroll>
          <div class="col col-md-4" ng-repeat="grid in posts.grids">
            <div class="animated fadeIn col col-md-12" ng-repeat="post in grid.objects | limitTo: limit ">
              <img src="{{post.images[0].source}}" class="img-responsive"/>
              <div class="content">
                <span class="divider"></span>
                <div class="row">
                  <div class="col-md-offeset-3 col-md-9">
                    <h4>
                      {{post.from.name}} <br>
                      <small>{{post.updated_time | date:'medium'}}</small>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <p></p>
      </div> -->
    </div>
  </div>
</div>
