<!-- Home Page -->
<div class="video-wrap">
  <div class="video-hero">
    <div class="container">
      <div class="row">
        <blockquote>
          <p>O Melhor <b>Guia de FoodTrucks</b> do Império.</p>
          <footer>Feito por geeks para o público que vivencia a cultura urbana. <br> <cite title="Source Title">Trooper Team</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="video-container">
    <video width="1380" height="720" autoplay loop="true" muted="true">
      <source src="videos/food_on_wheels_sm_360p_blur.mp4" type="video/mp4">
      <source src="videos/food_on_wheels_sm_360p_blur.webm" type="video/webm">
    </video>
    <!-- <img src="images/food_park_2.jpg" width="100%"/> -->
  </div>
</div>

<div class="animated text-center preloader-container" ng-hide="$loaded" ng-class="{fadeOut: $loaded}">
  <img src="images/loader-285.gif" width="32"/> <br>
  <p> <small>Aguarde enquanto carregamos o conteúdo.</small> </p>
</div>

<div>
  <div class="last-posts-wrap">
    <div class="row last-posts">
      <div class="col col-md-4 col-sm-6 col-xs-4 animated fadeIn" ng-repeat="post in posts | limitTo:6">
        <div class="col col-md-12">
          <img src="{{post.images.low_resolution.url}}" class="img-responsive"/>
        </div>
      </div>
    </div>

    <div class="last-posts-filter" ng-click="showTreadingTopicsModal()">
      <h1>Trending Topics Foodtroopers</h1>
      <p class="text-right">O que é destaque jamais fica esquecido no Cosmos </p>
      <button class="btn btn-large btn-success" ng-click="showTreadingTopicsModal()">
        Clique aqui para ver o que está em destaque na sua região
      </button>
    </div>
  </div>

  <div class="event-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
      <ui-gmap-markers models="map.places" coords="'self'" doCluster="true" icon="'icon'" idKey="'idKey'" click="showInfoMarker(idKey,self)"></ui-gmap-markers>
    </ui-gmap-google-map>
    <div class="event-map-promo animated" ng-class="{fadeOut:!isMapPromoVisible}" ng-show="isMapPromoVisible">
      <h2 class="text-center">{{$city}}</h2>
    </div>
  </div>
</div>

<div class="black food-bg">
  <!-- none -->
</div>

<!-- Thread Topics -->
<div class="modal fade" id="treadingTopicsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Anúcie Grátis seus Eventos</h4>
      </div>
      <div class="modal-body">
        <div class="row last-posts" on-scroll>
          <div class="col col-md-4 col-sm-2 col-xs-12 animated fadeIn" ng-repeat="post in posts | limitTo: limit">
            <img src="{{post.images.standard_resolution.url}}" class="img-responsive"/>
            <div class="content">
              <span class="divider"></span>
              <div class="row">
                <div class="col col-xs-offset-1 col-xs-1">
                  <img src="{{post.user.profile_picture}}" class="icon"/>
                </div>
                <div class="col col-xs-9">
                  <h4>
                    <a href="{{post.link}}" class="white-text" target="_blank">@{{post.user.username}}</a> <br>
                    <small>{{ ( post.created_time * 1000 ) | date:'short'}}</small>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>Entre em contato - foodtroopers@gmail.com</p>
      </div>
    </div>
  </div>
</div>
