<div class="video-wrap">
  <div class="video-hero">
    <div class="container">
      <div class="row">
        <h1 class="text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h1>
      </div>
    </div>
    <div class="row stores">
      <img src="images/app-store-icon.png" class="pull-right" width="200">
      <img src="images/google-play-icon.png" class="pull-right" width="200">
    </div>
  </div>
  <div class="video-container">
    <img src="images/food_park_2.jpg" width="100%"/>
  </div>
</div>
<div class="last-posts-wrap">
  <div class="row last-posts">
    <div class="col col-md-4" ng-repeat="grid in posts.grids">
      <div class="animated fadeIn col col-md-12" ng-repeat="post in grid.objects | limitTo:2" on-finish-render="ngRepeatFinished">
        <img src="{{post.images[2].source}}" class="img-responsive"/>
      </div>
    </div>
  </div>

  <div class="last-posts-filter" ng-click="showTreadingTopicsModal()">
    <h1>Trending Topics Foodtrooper.</h1>
    <p class="text-right">O que é destaque jamais fica esquecido no Cosmos - Clique aqui vejá o que está acontecendo agora na cidade</p>
  </div>

  <!-- Thread Topics -->
  <div class="modal animated" id="treadingTopicsModal" ng-class="isModalEnable ? 'fadeIn' : 'fadeOut' " tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h4>
        </div>
        <div class="modal-body">
          <div class="row last-posts" on-scroll>
            <div class="col col-md-4" ng-repeat="grid in posts.grids">
              <div class="animated fadeIn col col-md-12" ng-repeat="post in grid.objects | limitTo: limit ">
                <img src="{{post.images[0].source}}" class="img-responsive"/>
                <div class="content">
                  <span class="divider"></span>
                  <div class="row">
                    <div class="col-md-offeset-3 col-md-9">
                      <h4>
                        {{post.from.name}} <br>
                        <small>{{post.updated_time | date:'medium'}}</small>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="jumbotron">
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Iniciativa FoodTrupper
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</div>
